* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to bottom left, rgb(23, 23, 23), rgb(8, 8, 8));
    background-attachment: fixed;
    height: 100%;
}

.content {
    color: rgb(262, 266, 229);
    font-weight: bold;

    top: 60px;
    position: relative;
}

.banner {
    text-align: center;
}

.banner h1 {
    padding: 10px;
    font-size: 3em;
}

.banner input {
    width: 200px;
    padding: 16px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 26px;
    font-weight: bold;
    border: 2px solid rgb(101, 101, 101);
    background: transparent;
    color: white;
    cursor: text
}

.banner input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.banner input[type="number"] {
    -moz-appearance: textfield;
}

.banner button {
    text-align: center;
    width: 200px;
    padding: 16px 0;
    margin: 20px 10px;
    border-radius: 26px;
    font-weight: bolder;
    border: 2px solid rgb(266, 224, 99);
    background: transparent;
    color: white;
    cursor: pointer
}

.content button:hover {
    border-color: white;
}

.bar {
    position: relative;
    top: 20px;

    background-color: rgba(0, 0, 0, 0.267);
    margin: auto;
    min-height: 100vh;
    padding: 1%;
    overflow: auto;
    max-width: 800px;
}

.deal_container {
    background-color: rgba(26, 26, 26);
    width: 30%;
    height: 250px;
    margin: 1.3% 1.66%;
    float: left;
    position: relative;
    overflow: hidden;
}

.deal_container span {
    position: absolute;
    bottom: 0px;
    margin: 10px;
}

.deal_container .keyshop_price {
    color: rgb(245, 195, 49);
    bottom: 20px;
    font-size: small;
}

.deal_container .official_price {
    color: rgb(59, 101, 294);
    bottom: 20px;
    font-size: small;
    right: 7px;
}

.deal_container a {
    color: white;
}

.deal_container a:active {
    color: rgba(255, 255, 255, 0.253);
}

.deal_banner {
    width: 100%;
    height: 78%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.deal_gradient {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(236, 224, 99, 0.289), rgba(26, 26, 26));
    width: 100%;
    height: 100%;
    z-index: 1;
}

.deal_banner img {
    position: absolute;
    display: block;
    transform: scale(1.2);
}