<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8" />
    <title>Game Deals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Handlee&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <script src="{{ url_for('static', filename='js/overlay-darken.js')}}" defer></script>
</head>

<body>
    <div class="overlay" style="display: none;">
        <h2>Requesting
            <br>
            <marquee style="width:0.9em; vertical-align: bottom;">.&nbsp;.&nbsp;.&nbsp;&nbsp;&nbsp;</marquee>
        </h2>
    </div>

    <div class="content">
        {% if profile %}
        <div class="profile">
            <a href={{profile.url}} target="_blank">
                <img src={{profile.img_url}}>
                <span>{{profile.name}}</span>
            </a>
        </div>
        {% endif%}
        <form id="submit_form" action="/submit" method='GET'>
            <div class="banner">
                <h1>Game Deals</h1>
                <p>Enter your SteamID</p>
                <input type="text" placeholder="00000000000000000" name="id"></input>
                <button type="submit" onclick="enableOverlay()">Submit</button>
                <span id="error_log"></span>
            </div>
        </form>

        <div class="bar">
            {% for data in game_datas %}
            <a href={{data.url}} target="_blank">
                <div class="deal_container">
                    <div class="deal_banner">
                        <img src={{data.img_url}}>
                        <span class="official_price">Price - {{data.official_price}}</span>
                        <!-- <span class="keyshop_price">Keyshop - {{data.keyshop_price}}</span> -->
                        <div class="deal_gradient"></div>
                    </div>
                    <span>{{data.game_name}}</span>
                </div>
            </a>
            {% endfor %}
        </div>

        <footer>BlazerChlopiec &#169 2026</footer>
    </div>
</body>

</html>